aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow==10.3.0
psutil
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
# Use Git version of youtube-search-python (remove PyPI one to avoid conflict)
git+https://github.com/CertifiedCoders/youtube-search-python.git@v1.6.6.post1

# Use working alternative of pytgcalls
py-tgcalls==1.2.9

# Use public fork of ntgcalls
git+https://github.com/TG-Musics/ntgcalls.git#egg=ntgcalls
